body {
	background-color:#003366;
	color: white;
	font-family: "Calibri";
}
p {
	font-size: 18px;
}
#bloc1 {
	display: block;
	text-align:center;
	font-size: xx-large;
	margin-top: 150px;
}
li {
	list-style: none;
}

input[type=text] {
    border: 2px solid #a0a0a0;
    border-radius: 4px;
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
}
input[type=submit] {
    border: 2px solid #a0a0a0;
    border-radius: 4px;
    padding: 15px 20px;
    box-sizing: border-box;
}
.bad {
	background: url(../img/icone_bad.png);
	border: none;
    width: 50px;
    background-repeat: no-repeat;
    height: 45px;
    cursor: pointer;
}
.good{
	background: url(../img/icone_good.png);
	border: none;
    width: 50px;
    background-repeat: no-repeat;
    height: 45px;
    cursor: pointer;
}
#tapetonnom {
	display: inline;
}
#imgvalide {
	display: inline;
}
#bloc2 {
	width: 40%;
    margin: auto;
    margin-top: 20%;
}
#ecrire {
	width: 500px;
	margin-top: 3%;
	margin-left: 10%;
	text-align: left;
	float: left;
}
#message {
	width: 600px;
	height: 600px;
	box-sizing: border-box;
    padding: 4px 6px 4px;
	border-width: 2px;
    border-style: none;
    border-color: white;
    border-image: initial;
	border: 1px solid white;
	float:left;
	margin-left: 5%;
}
#message2 {
	width: 600px;
	height: 650px;
	box-sizing: border-box;
    padding: 4px 6px 4px;
	border-width: 2px;
    border-style: none;
    border-color: white;
    border-image: initial;
	border: 1px solid white;
	float:left;
	margin-left: 5%;
}
#col-images {
	width: 18%;
	margin-top: 2%;
	margin-left: 60%;
}

#rep1 {
	
    margin-top: 0%;
    float: left;
    
    text-align: left;
    padding: 15px;
	margin-left: 8%;
    margin-top: 0%;
    float: left;
    width: 30%;
    text-align: left;
    
    padding: 15px;
	text-align: left;
	border-color: white;
	border: 1px solid white;
	padding: 15px;

}
#choix1 {
	font-size: 16px;
    /* background-color: white; */
    /* text-align: center; */
    cursor: default;
    color: white;
    /* box-sizing: border-box; */
    padding: 2px 6px 3px;
    /* border-width: 2px; */
    /* border-style: none; */
    /* border-color: white; */
    /* border-image: initial; */
    position: center;
    font-family: "Calibri";
	width: 12%
}
#choix2 {
	font-size: 16px;
    /* background-color: white; */
    /* text-align: center; */
    cursor: default;
    color: white;
    /* box-sizing: border-box; */
    padding: 2px 6px 3px;
    /* border-width: 2px; */
    /* border-style: none; */
    /* border-color: white; */
    /* border-image: initial; */
    position: center;
    font-family: "Calibri";
	width: 12%
}
#repfinal {
	font-size: 16px;
    width: 25%;
    /* background-color: white; */
    text-align: center;
    cursor: default;
    /* color: black; */
    box-sizing: border-box;
    padding: 2px 6px 3px;
    /* border-width: 2px; */
    /* border-style: none; */
    /* border-color: white; */
    /* border-image: initial; */
    position: center;
    font-family: "Calibri";
}
#pwet1 {
	    /* margin-left: 8%; */
    margin-top: 0%;
    float: left;
    /* width: 30%; */
    text-align: left;
    
    padding: 15px;
}
div#rep2 {
	margin-left: 60%;
	margin-top: 9%;
	width: 30%;
	text-align: left;
	border-color: white;
	border: 1px solid white;
	padding: 15px;
}
#choix1 {
	margin-top: 12%;
}
#choix2 {
	margin-top: 20%;
}
#titre_centre {
	text-align: center;
	margin-top: 4%;
}
div#bloc1 {
	font-size: 18px;
}
/* clignotement */
@-webkit-keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: white  
    }    
}    
@keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: white    
    }    
}    
.borderBlink{    
    border:1px solid white;
    -webkit-animation: borderBlink 1s step-end infinite;    
    animation: borderBlink 1s step-end infinite;    
}




