body {
	background-color:#003366;
	color: white;
	font-family: "Calibri";
}
p {
	font-size: 18px;
}
#bloc1 {
	display: block;
	text-align:center;
	font-size: xx-large;
	margin-top: 150px;
}
li {
	list-style: none;
}

input[type=text] {
    border: 2px solid #a0a0a0;
    border-radius: 4px;
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
}
input[type=submit] {
    border: 2px solid #a0a0a0;
    border-radius: 4px;
    padding: 15px 20px;
    box-sizing: border-box;
}
.bad {
	background: url(../img/icone_bad.png);
	border: none;
    width: 50px;
    background-repeat: no-repeat;
    height: 45px;
    cursor: pointer;
}
.good{
	background: url(../img/icone_good.png);
	border: none;
    width: 50px;
    background-repeat: no-repeat;
    height: 45px;
    cursor: pointer;
}
#tapetonnom {
	display: inline;
}
#imgvalide {
	display: inline;
}
#bloc2 {
	width: 40%;
    margin: auto;
    margin-top: 20%;
}
#ecrire {
	width: 40%;
	margin-top: 5%;
	margin-left: 10%;
	text-align: left;
	float: left;
}
#col-images {
	width: 20%;
	margin-top: 2%;
	margin-left: 60%;
}











