body {
	background-color:#003366;
	color: white;
}
#bloc1 {
	display: block;
	text-align:center;
	font-size: xx-large;
}
#bloc1 li {
	list-style: none;
}

input[type=text] {
    border: 2px solid #a0a0a0;
    border-radius: 4px;
    width: 30%;
    padding: 12px 20px;
    margin-top: 25%;
    box-sizing: border-box;
}
.bad {
	background: url(../img/icone_bad.png);
	border: none;
    width: 50px;
    background-repeat: no-repeat;
    height: 45px;
    cursor: pointer;
}
.good{
	background: url(../img/icone_good.png);
	border: none;
    width: 50px;
    background-repeat: no-repeat;
    height: 45px;
    cursor: pointer;
}